<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-heading-primary">Admin</h1>
        </div>
    </div>

</div>

<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">
            <p uk-margin>
                <button class="uk-button uk-button-default">Movies</button>
                <button class="uk-button uk-button-primary">Sports</button>
                <button class="uk-button uk-button-secondary">Music</button>
                <button class="uk-button uk-button-danger">Arts + Theater</button>
            </p>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">1-2

        </div>
    </div>
</div>

<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">Feed 1</div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">Feed 2</div>
    </div>
</div>