<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-heading-primary">Admin</h1>
        </div>
    </div>

</div>

<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">
            <p uk-margin>
                <button class="load-button uk-button uk-button-default" data-id="movies">Movies</button>
                <button class="load-button uk-button uk-button-primary" data-id="sports">Sports</button>
                <button class="load-button uk-button uk-button-secondary" data-id="music">Music</button>
                <button class="load-button uk-button uk-button-danger" data-id="arts">Arts + Theater</button>
            </p>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">1-2

        </div>
    </div>
</div>

<div class="uk-text-center" uk-grid>
    <div class="uk-width-1-2">
        <div id="testdiv" class="uk-card uk-card-default uk-card-body">

            <h1>{{eventName}}</h1>

            {{!-- <ul>
                {{#each events}}
                <li>{{eventName}}</li>
                {{/each}}
            </ul> --}}
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-body">Feed 2</div>
    </div>
</div>